In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

### proportions z-test

In [3]:
users = pd.read_csv('../data/cleaned/users_cleaned.csv', parse_dates=['signup_date'])
transactions = pd.read_csv('../data/cleaned/transactions_cleaned.csv', parse_dates=['transaction_date'])

In [8]:
# 0/1 conversion (retention)
assigned = users[['user_id']].copy()
np.random.seed(42)
assigned['group'] = np.random.choice(['control','treatment'], size=len(assigned), p=[0.5,0.5])

In [9]:
# simulate conversion rates
conv_rate_control = 0.12
conv_rate_treatment = 0.15

In [10]:
assigned['converted'] = assigned['group'].apply(lambda g: np.random.binomial(1, conv_rate_treatment if g=='treatment' else conv_rate_control))

In [11]:
count = assigned.groupby('group')['converted'].sum().values
nobs = assigned.groupby('group')['converted'].count().values
stat, pval = proportions_ztest(count, nobs)
print('z-stat:', stat, 'p-value:', pval)

z-stat: -1.541536530058357 p-value: 0.12318625934851497

In [16]:
proportions_ztest

In [18]:
assigned

      user_id      group  converted
0      100000    control          1
1      100001  treatment          0
2      100002  treatment          0
3      100003  treatment          0
4      100004    control          0
...       ...        ...        ...
1997   101997    control          0
1998   101998    control          0
1999   101999    control          0
2000   100000    control          0
2001   100001    control          0

[2002 rows x 3 columns]

In [21]:
# Save
assigned.to_csv("../data/ab_test_data.csv", index=False)